/*font-family: 'Didact Gothic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
*/

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

body {
  background: white;
}
 ul {
    padding:0;
    display:flex;
 }
 li {
   margin:0;
   padding: 20px 20px;
   text-indent: 0;
   list-style-type: none;
   color: #999999;
 }


.flex {
  display:flex;
}
.flex-center-x {
  display:flex;
  justify-content:center;
  align-items:center;
}


.flex-vert-align {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.hidden {
  display:none;
}

/*// component styles*/


.radio-box {
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  margin:20px;
  background: white;
  height: 812px;
  width:375px;
  border-radius:20px;
  box-shadow: black 3px 9px 28px -6px;
  position:relative;
}

.search {
  color:#999999;
  padding:20px;
  height: 100px;
}

.search__header {
  display:flex;
  justify-content:space-between;
}

.search__input {
  border:none;
  margin: 20px;
  background:#edeeed;
  padding:10px;
  border-radius:10px;
  width:273px;

}

.search__input:focus {
  border:solid 2px #999999;
  outline:none;
  background:#edeeed;
}

.radio-box__radio-list {
  height:500px;
}

.radio-box__actions {
  height: 100px;
}
.radio-box__shell {
  box-shadow: #423f3f 0px 0px 10px -4px;
  height:100%;
  border-radius: 20px 20px 0 0;
  background: white;
}

.overflow {
  overflow:scroll;
}

.radio-box__album-image {
  border-radius:10px;
}

.now-playing__album-image {
  margin:20px;
  width:150px;
}


.radio-box__now-playing {

  height:300px;
  background:white;
  border-radius:20px 20px 0px 0px;
  background:#a2acea;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 375px;
}

.now-playing__album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.now-playing__album-info h3 {
  color:white;
  margin:5px;
  text-align:left;
  font-family: 'Montserrat', sans-serif;
}

.now-playing__album-info h4 {
  color:white;
  margin:5px;
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
}

.now-playing__buttons {
  display:flex;
  justify-content:space-around;
}

.download-button {
  color:#999999;
  background-color:white;
  padding:10px;
  border-radius:10px;
}
